/* body of the page */
body {
  background-color: #ffffff;
}

/* initial top bar */
.top-bar {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* logo globo.com initial bar */
.logo-globo {
  width: 171px;
  height: 36px;
}

/* horizontal border between the menu bar */
.horizontal-border {
  border-bottom: 1px solid #f5f6f7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* menu bar container */
.menu-bar {
  background-color: #ffffff;
  font-family: "Encode Sans", sans-serif;
  margin-right: 60px;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* menu bar g1 option */
.text-g1 {
  width: 40px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #c3170c;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu bar o globo option */
.text-oglobo {
  width: 89px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #1e4b9b;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu bar valor option */
.text-valor {
  width: 70px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #006766;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu bar ge option */
.text-ge {
  width: 45px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #07aa47;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu bar cartola option */
.text-cartola {
  width: 86px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #e3662b;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu bar globoplay option */
.text-globoplay {
  width: 113px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #fb0735;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu bar dropz option */
.text-dropz {
  width: 75px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #ff75bb;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu bar gshow option */
.text-gshow {
  width: 84px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #ec7d00;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu bar quem text */
.text-quem {
  width: 74px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #323333;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu bar receitas option */
.text-receitas {
  width: 93px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #a81d83;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* main content container */
.main-content {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* content first page container */
.first-page-content {
  width: 1250px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* main story container */
.main-story {
  width: 624px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main story text */
.main-story-text {
  font-size: 52px;
  line-height: 1.2;
  font-weight: bold;
  color: #c4160c;
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  margin-top: 30px;
  width: 624px;
  height: 201px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* first minor material container */
.secondary-matter-text-1 {
  width: 622px;
  height: 25px;
}

/* first minor material text */
.text-1 {
  font-size: 18px;
  margin-top: 15px;
  color: #303134;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/* second secondary material container */
.secondary-matter-text-2 {
  width: 622px;
  height: 25px;
}

/* second secondary material text */
.text-2 {
  font-size: 18px;
  margin-top: 20px;
  color: #303134;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/* horizontal border between secondary matter and images */
.small-horizontal-border {
  border-bottom: 1px solid #ebedef;
  width: 624px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* photo content container */
.content-photos-first-page {
  width: 645px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* first matter of photo content */
.first-matter {
  width: 193px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* adjust for the images */
img {
  font-family: "Encode Sans", sans-serif;
  width: 193px;
  height: 110px;
  border-radius: 12px;
}

/* first paragraph of photo content */
.first-paragraph {
  width: 192px;
  height: 19px;
  line-height: 1.3;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #c4170c;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* second paragraph of photo content */
.second-paragraph {
  width: 240px;
  height: 84px;
  line-height: 1.3;
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2f3134;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* third paragraph of photo content */
.third-paragraph {
  width: 174px;
  height: 42.5px;
  line-height: 1.3;
  font-family: "Encode Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2f3134;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* second matter of photo content */
.second-matter {
  width: 200px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* third matter of photo content */
.third-matter {
  width: 210px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* latest news content container */
.final-news-content {
  width: 640px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* vertical border between the first and second container of page content */
.vertical-border-1 {
  border-right: 1px solid #ebedef;
  height: 800px;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.vertical-border-2 {
  border-right: 1px solid #ebedef;
  height: 800px;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

/* second news content container */
.second-page-content {
  width: 240px;
  display: flex;
  align-content: center;
  flex-direction: row;
}

/* main content container */
.second-main-story {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* first news column */
.first-news-column {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* first image of the news */
.first-news {
  width: 240px;
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* first paragraph of the news */
.first-paragraph-news {
  width: 240px;
  height: 19px;
  line-height: 1.3;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
  color: #16ae54;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* second paragraph of the news */
.second-paragraph-news {
  width: 300px;
  height: 84px;
  line-height: 1.3;
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2f3134;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* second paragraph of the news */
.second-paragraph-news-2 {
  width: 300px;
  height: 60px;
  line-height: 1.3;
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2f3134;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* third paragraph of the news */
.third-paragraph-news {
  width: 240px;
  height: 43px;
  line-height: 1.5;
  font-family: "Encode Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2f3134;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* second news column */
.second-news-column {
  width: 240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* third news column */
.third-news-column {
  width: 240px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* container of the third column of materials */
.third-main-story {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

/* first news container */
.first-news-1 {
  width: 240px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* first paragraph of the third column of articles */
.first-paragraph-news-1 {
  width: 240px;
  height: 35px;
  font-family: "Encode Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ec8006;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* second paragraph of the first column of articles */
.second-paragraph-news-1 {
  width: 290px;
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #2f3134;
  display: flex;
  align-items: center;
  text-decoration: none;
  /* margin-bottom: 10px; */
}

/* second paragraph of the second column of articles */
.second-paragraph-news-2 {
  width: 240px;
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2f3134;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 5px;
}

/* third paragraph of the second column of articles */
.third-paragraph-news-2 {
  width: 217px;
  font-family: "Encode Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2f3134;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}

/* third paragraph of the third column of articles */
.third-paragraph-news-1 {
  width: 217px;
  font-family: "Encode Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2f3134;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 20px;
}

/* second paragraph of the third column of articles */
.second-paragraph-news-3 {
  width: 240px;
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #2f3134;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 15px;
}

/* first image of the third column of articles */
.first-news-2 {
  width: 240px;
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}

/* first news container */
.first-news-column-1 {
  width: 240px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* images from the second page of content */
.img-second-page-content {
  width: 240px;
  height: 128px;
}
