@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500;700&display=swap');

.top-bar {
  height: 80px;
  background-color: #E5E5E5;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-globo {
  height: 36px;
}

.horizontal-border {
    border-bottom: 1px solid #F5F6F7;
    width: 100%;
}

.menu-bar {
  background-color: #E5E5E5;;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-g1 {
  width: 40px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #c3170c;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-oglobo {
  width: 89px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #1e4b9b;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-valor {
  width: 70px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #006766;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-ge {
  width: 45px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #07aa47;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-cartola {
  width: 86px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #e3662b;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-globoplay {
  width: 113px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #fb0735;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-dropz {
  width: 75px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #ff75bb;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-gshow {
  width: 84px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #ec7d00;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-quem {
  width: 74px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #323333;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-receitas {
  width: 93px;
  height: 40px;
  font-weight: 700;
  font-size: 19px;
  color: #a81d83;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-content {
    background-color: #006766;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.first-page-content {
    background-color: #e5e5e5;
    width: 1250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-story {
    background-color: #9ade47;
    width: 624px;
    height: 201px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.main-story-text {
    font-size: 52px;
    font-weight: bold;
    color: #C4160C;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 700;
    width: 624px;
    height: 201px;
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
}

.secondary-matter-text-1 {
    background-color: #1e46bd;
    width: 622px;
    height: 25px;
}

.text-1 {
    font-size: 18px;
    color: #303134;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.secondary-matter-text-2 {
    background-color: #9ab0f1;
    width: 622px;
    height: 25px;
}

.text-2 {
    font-size: 18px;
    color: #303134;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

